/*
Designed mobile first, desktop breakpoint at line
-------------------------------------------------------- 
Colors:
#282d30 - dark grey
#82d398 - light green
#ffffff - white
#000000 - black
--------------------------------------------------------
TOC:
*/

main{
    background-color: #82d398;
    padding: 18px 5%;
    margin: 0;
}