/*
Designed mobile first, desktop breakpoint at line
-------------------------------------------------------- 
Colors:
#282d30 - dark grey
#82d398 - light green
#ffffff - white
#000000 - black
--------------------------------------------------------
TOC:
16 - Base Level Styles
58 - Header
63 - Showcase section
*/

/*Header*/
header img {
    max-width: 30%;
}

/*Showcase*/
main {
    background-color: #82d398;
    padding: 36px 5%;
    margin: 0 0;
}

main h2{
    margin: 0;
}

.showcaseLink{
    font-size: 2.2rem;
}

.websites_container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.siteBlock{
    height: 420px;
    margin: 26px 0;
    color: #282d30;
    position: relative;
}

.siteBlock img{
    height: 420px;
}

.siteImg{
    transform: scale(0, 1);
    box-shadow: 0px 0px 20px;
    transition: 200ms ease-in-out;
}

.siteImg.active{
    transform: scale(1, 1);
}

.siteText{
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background-color: white;
    transform: scale(0, 1);
    box-shadow: 0px 0px 20px;
    transition: 200ms ease-in-out;
}

.siteText.active{
    transform: scale(1, 1);
}

.siteText h3{
    background-color: #282d30;
    color: #82d398;
    margin: 0;
    padding: 2rem 0;  
}