/*
Designed mobile first, desktop breakpoint at line
-------------------------------------------------------- 
Colors:
#282d30 - dark grey
#82d398 - light green
#ffffff - white
#000000 - black
--------------------------------------------------------
TOC:
*/
html {
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
    color: white;
    background-color: #282d30;
    font-weight: 400;
}

body {
    padding-top: 26px;
    margin: 0;
}

header img {
    max-width: 30%;
}

.pageBG {
    background-image: url("../images/codeBG.PNG");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: -1;
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 3.5rem;
}

h3{
    font-size: 2.8rem;
}

p{
    font-size: 2rem;
}

strong {
    font-weight: 700;
}

.light {
    font-weight: 200;
}